.only-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, .7);
}

.only-modal-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;
  padding: 5px 10px;

  box-sizing: border-box;
  background-color: #fff;
}

.img-container img {
    max-width: 100%;
}
